/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Under MIT license
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Medium.eot');
	src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Medium.woff') format('woff'),
		url('Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.eot');
	src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Thin.woff') format('woff'),
		url('Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Light.eot');
	src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Light.woff') format('woff'),
		url('Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway.eot');
	src: url('Raleway.eot?#iefix') format('embedded-opentype'),
		url('Raleway.woff') format('woff'),
		url('Raleway.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLight.eot');
	src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLight.woff') format('woff'),
		url('Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBold.eot');
	src: url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBold.woff') format('woff'),
		url('Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Heavy.eot');
	src: url('Raleway-Heavy.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Heavy.woff') format('woff'),
		url('Raleway-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot');
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  ul.list,
  ol.list,
  .list {
    list-style-type: none;
    margin: 1em 0em;
    padding: 0em 0em;
  }
  ul.list:first-child,
  ol.list:first-child,
  .list:first-child {
    margin-top: 0em;
    padding-top: 0em;
  }
  ul.list:last-child,
  ol.list:last-child,
  .list:last-child {
    margin-bottom: 0em;
    padding-bottom: 0em;
  }


  /*******************************
              Content
  *******************************/


  /* List Item */
  ul.list li,
  ol.list li,
  .list > .item,
  .list .list > .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
  }
  ul.list > li:first-child:after,
  ol.list > li:first-child:after,
  .list > .list > .item,
  .list > .item:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  ul.list li:first-child,
  ol.list li:first-child,
  .list .list > .item:first-child,
  .list > .item:first-child {
    padding-top: 0em;
  }
  ul.list li:last-child,
  ol.list li:last-child,
  .list .list > .item:last-child,
  .list > .item:last-child {
    padding-bottom: 0em;
  }

  /* Child List */
  ul.list ul,
  ol.list ol,
  .list .list {
    clear: both;
    margin: 0em;
    padding: 0.75em 0em 0.25em 0.5em;
  }

  /* Child Item */
  ul.list ul li,
  ol.list ol li,
  .list .list > .item {
    padding: 0.14285714em 0em;
    line-height: inherit;
  }

  /* Icon */
  .list .list > .item > i.icon,
  .list > .item > i.icon {
    display: table-cell;
    margin: 0em;
    padding-top: 0.07142857em;
    padding-right: 0.28571429em;
    vertical-align: top;
    -webkit-transition: color 0.1s ease;
            transition: color 0.1s ease;
  }
  .list .list > .item > i.icon:only-child,
  .list > .item > i.icon:only-child {
    display: inline-block;
    vertical-align: top;
  }

  /* Image */
  .list .list > .item > .image,
  .list > .item > .image {
    display: table-cell;
    background-color: transparent;
    margin: 0em;
    vertical-align: top;
  }
  .list .list > .item > .image:not(:only-child):not(img),
  .list > .item > .image:not(:only-child):not(img) {
    padding-right: 0.5em;
  }
  .list .list > .item > .image img,
  .list > .item > .image img {
    vertical-align: top;
  }
  .list .list > .item > img.image,
  .list .list > .item > .image:only-child,
  .list > .item > img.image,
  .list > .item > .image:only-child {
    display: inline-block;
  }

  /* Content */
  .list .list > .item > .content,
  .list > .item > .content {
    line-height: 1.14285714em;
  }
  .list .list > .item > .image + .content,
  .list .list > .item > .icon + .content,
  .list > .item > .image + .content,
  .list > .item > .icon + .content {
    display: table-cell;
    padding: 0em 0em 0em 0.5em;
    vertical-align: top;
  }
  .list .list > .item > img.image + .content,
  .list > .item > img.image + .content {
    display: inline-block;
  }
  .list .list > .item > .content > .list,
  .list > .item > .content > .list {
    margin-left: 0em;
    padding-left: 0em;
  }

  /* Header */
  .list .list > .item .header,
  .list > .item .header {
    display: block;
    margin: 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  /* Description */
  .list .list > .item .description,
  .list > .item .description {
    display: block;
    color: rgba(0, 0, 0, 0.7);
  }

  /* Child Link */
  .list > .item a,
  .list .list > .item a {
    cursor: pointer;
  }

  /* Linking Item */
  .list .list > a.item,
  .list > a.item {
    cursor: pointer;
    color: #4183C4;
  }
  .list .list > a.item:hover,
  .list > a.item:hover {
    color: #1e70bf;
  }

  /* Linked Item Icons */
  .list .list > a.item i.icon,
  .list > a.item i.icon {
    color: rgba(0, 0, 0, 0.4);
  }

  /* Header Link */
  .list .list > .item a.header,
  .list > .item a.header {
    cursor: pointer;
    color: #4183C4 !important;
  }
  .list .list > .item a.header:hover,
  .list > .item a.header:hover {
    color: #1e70bf !important;
  }

  /* Floated Content */
  [class*="left floated"].list {
    float: left;
  }
  [class*="right floated"].list {
    float: right;
  }
  .list .list > .item [class*="left floated"],
  .list > .item [class*="left floated"] {
    float: left;
    margin: 0em 1em 0em 0em;
  }
  .list .list > .item [class*="right floated"],
  .list > .item [class*="right floated"] {
    float: right;
    margin: 0em 0em 0em 1em;
  }


  /*******************************
              Coupling
  *******************************/

  .menu .list > .item,
  .menu .list .list > .item {
    display: list-item;
    table-layout: fixed;
    background-color: transparent;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
  }
  .menu .list .list > .item:before,
  .menu .list > .item:before {
    border: none;
    background: none;
  }
  .menu .list .list > .item:first-child,
  .menu .list > .item:first-child {
    padding-top: 0em;
  }
  .menu .list .list > .item:last-child,
  .menu .list > .item:last-child {
    padding-bottom: 0em;
  }


  /*******************************
              Types
  *******************************/


  /*-------------------
        Horizontal
  --------------------*/

  .horizontal.list {
    display: inline-block;
    font-size: 0em;
  }
  .horizontal.list > .item {
    display: inline-block;
    margin-left: 1em;
    font-size: 1rem;
  }
  .horizontal.list:not(.celled) > .item:first-child {
    margin-left: 0em !important;
    padding-left: 0em !important;
  }
  .horizontal.list .list {
    padding-left: 0em;
    padding-bottom: 0em;
  }
  .horizontal.list > .item > .image,
  .horizontal.list .list > .item > .image,
  .horizontal.list > .item > .icon,
  .horizontal.list .list > .item > .icon,
  .horizontal.list > .item > .content,
  .horizontal.list .list > .item > .content {
    vertical-align: middle;
  }

  /* Padding on all elements */
  .horizontal.list > .item:first-child,
  .horizontal.list > .item:last-child {
    padding-top: 0.21428571em;
    padding-bottom: 0.21428571em;
  }

  /* Horizontal List */
  .horizontal.list > .item > i.icon {
    margin: 0em;
    padding: 0em 0.25em 0em 0em;
  }
  .horizontal.list > .item > .icon,
  .horizontal.list > .item > .icon + .content {
    float: none;
    display: inline-block;
  }


  /*******************************
               States
  *******************************/


  /*-------------------
         Disabled
  --------------------*/

  .list .list > .disabled.item,
  .list > .disabled.item {
    pointer-events: none;
    color: rgba(40, 40, 40, 0.3) !important;
  }
  .inverted.list .list > .disabled.item,
  .inverted.list > .disabled.item {
    color: rgba(225, 225, 225, 0.3) !important;
  }

  /*-------------------
          Hover
  --------------------*/

  .list .list > a.item:hover .icon,
  .list > a.item:hover .icon {
    color: rgba(0, 0, 0, 0.87);
  }


  /*******************************
             Variations
  *******************************/


  /*-------------------
         Inverted
  --------------------*/

  .inverted.list .list > a.item > .icon,
  .inverted.list > a.item > .icon {
    color: rgba(255, 255, 255, 0.7);
  }
  .inverted.list .list > .item .header,
  .inverted.list > .item .header {
    color: rgba(255, 255, 255, 0.9);
  }
  .inverted.list .list > .item .description,
  .inverted.list > .item .description {
    color: rgba(255, 255, 255, 0.7);
  }

  /* Item Link */
  .inverted.list .list > a.item,
  .inverted.list > a.item {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
  }
  .inverted.list .list > a.item:hover,
  .inverted.list > a.item:hover {
    color: #1e70bf;
  }

  /* Linking Content */
  .inverted.list .item a:not() {
    color: rgba(255, 255, 255, 0.9) !important;
  }
  .inverted.list .item a:not():hover {
    color: #1e70bf !important;
  }

  /*-------------------
         Aligned
  --------------------*/

  .list[class*="top aligned"] .image,
  .list[class*="top aligned"] .content,
  .list [class*="top aligned"] {
    vertical-align: top !important;
  }
  .list[class*="middle aligned"] .image,
  .list[class*="middle aligned"] .content,
  .list [class*="middle aligned"] {
    vertical-align: middle !important;
  }
  .list[class*="bottom aligned"] .image,
  .list[class*="bottom aligned"] .content,
  .list [class*="bottom aligned"] {
    vertical-align: bottom !important;
  }

  /*-------------------
         Link
  --------------------*/

  .link.list .item,
  .link.list a.item,
  .link.list .item a:not() {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.1s color ease;
            transition: 0.1s color ease;
  }
  .link.list a.item:hover,
  .link.list .item a:not():hover {
    color: rgba(0, 0, 0, 0.8);
  }
  .link.list a.item:active,
  .link.list .item a:not():active {
    color: rgba(0, 0, 0, 0.9);
  }
  .link.list .active.item,
  .link.list .active.item a:not() {
    color: rgba(0, 0, 0, 0.95);
  }

  /* Inverted */
  .inverted.link.list .item,
  .inverted.link.list a.item,
  .inverted.link.list .item a:not() {
    color: rgba(255, 255, 255, 0.5);
  }
  .inverted.link.list a.item:hover,
  .inverted.link.list .item a:not():hover {
    color: #ffffff;
  }
  .inverted.link.list a.item:active,
  .inverted.link.list .item a:not():active {
    color: #ffffff;
  }
  .inverted.link.list a.active.item,
  .inverted.link.list .active.item a:not() {
    color: #ffffff;
  }

  /*-------------------
        Selection
  --------------------*/

  .selection.list .list > .item,
  .selection.list > .item {
    cursor: pointer;
    background: transparent;
    padding: 0.5em 0.5em;
    margin: 0em;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
    -webkit-transition: 0.1s color ease, 0.1s padding-left ease, 0.1s background-color ease;
            transition: 0.1s color ease, 0.1s padding-left ease, 0.1s background-color ease;
  }
  .selection.list .list > .item:last-child,
  .selection.list > .item:last-child {
    margin-bottom: 0em;
  }
  .selection.list.list > .item:hover,
  .selection.list > .item:hover {
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.8);
  }
  .selection.list .list > .item:active,
  .selection.list > .item:active {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
  }
  .selection.list .list > .item.active,
  .selection.list > .item.active {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
  }

  /* Inverted */
  .inverted.selection.list > .item,
  .inverted.selection.list > .item {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
  }
  .inverted.selection.list > .item:hover,
  .inverted.selection.list > .item:hover {
    background: rgba(255, 255, 255, 0.02);
    color: #ffffff;
  }
  .inverted.selection.list > .item:active,
  .inverted.selection.list > .item:active {
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff;
  }
  .inverted.selection.list > .item.active,
  .inverted.selection.list > .item.active {
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff;
  }

  /* Celled / Divided Selection List */
  .celled.selection.list .list > .item,
  .divided.selection.list .list > .item,
  .celled.selection.list > .item,
  .divided.selection.list > .item {
    border-radius: 0em;
  }

  /*-------------------
         Animated
  --------------------*/

  .animated.list > .item {
    -webkit-transition: 0.25s color ease 0.1s, 0.25s padding-left ease 0.1s, 0.25s background-color ease 0.1s;
            transition: 0.25s color ease 0.1s, 0.25s padding-left ease 0.1s, 0.25s background-color ease 0.1s;
  }
  .animated.list:not(.horizontal) > .item:hover {
    padding-left: 1em;
  }

  /*-------------------
         Fitted
  --------------------*/

  .fitted.list:not(.selection) .list > .item,
  .fitted.list:not(.selection) > .item {
    padding-left: 0em;
    padding-right: 0em;
  }
  .fitted.selection.list .list > .item,
  .fitted.selection.list > .item {
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  /*-------------------
        Bulleted
  --------------------*/

  ul.list,
  .bulleted.list {
    margin-left: 1.25rem;
  }
  ul.list li,
  .bulleted.list .list > .item,
  .bulleted.list > .item {
    position: relative;
  }
  ul.list li:before,
  .bulleted.list .list > .item:before,
  .bulleted.list > .item:before {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    margin-left: -1.25rem;
    content: '•';
    opacity: 1;
    color: inherit;
    vertical-align: top;
  }
  ul.list ul,
  .bulleted.list .list {
    padding-left: 1.25rem;
  }

  /* Horizontal Bulleted */
  ul.horizontal.bulleted.list,
  .horizontal.bulleted.list {
    margin-left: 0em;
  }
  ul.horizontal.bulleted.list li,
  .horizontal.bulleted.list > .item {
    margin-left: 1.75rem;
  }
  ul.horizontal.bulleted.list li:first-child,
  .horizontal.bulleted.list > .item:first-child {
    margin-left: 0em;
  }
  ul.horizontal.bulleted.list li::before,
  .horizontal.bulleted.list > .item::before {
    color: rgba(0, 0, 0, 0.87);
  }
  ul.horizontal.bulleted.list li:first-child::before,
  .horizontal.bulleted.list > .item:first-child::before {
    display: none;
  }

  /*-------------------
         Ordered
  --------------------*/

  ol.list,
  .ordered.list,
  .ordered.list .list,
  ol.list ol {
    counter-reset: ordered;
    margin-left: 1.25rem;
    list-style-type: none;
  }
  ol.list li,
  .ordered.list .list > .item,
  .ordered.list > .item {
    list-style-type: none;
    position: relative;
  }
  ol.list li:before,
  .ordered.list .list > .item:before,
  .ordered.list > .item:before {
    position: absolute;
    top: auto;
    left: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-left: -1.25rem;
    counter-increment: ordered;
    content: counters(ordered, ".") " ";
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    opacity: 0.8;
  }
  ol.inverted.list li:before,
  .ordered.inverted.list .list > .item:before,
  .ordered.inverted.list > .item:before {
    color: rgba(255, 255, 255, 0.7);
  }

  /* Value */
  .ordered.list > .list > .item[data-value],
  .ordered.list > .item[data-value] {
    content: attr(data-value);
  }
  ol.list li[value]:before {
    content: attr(value);
  }

  /* Child Lists */
  ol.list ol,
  .ordered.list .list {
    margin-left: 1em;
  }
  ol.list ol li:before,
  .ordered.list .list > .item:before {
    margin-left: -2em;
  }

  /* Horizontal Ordered */
  ol.horizontal.list,
  .ordered.horizontal.list {
    margin-left: 0em;
  }
  ol.horizontal.list li:before,
  .ordered.horizontal.list .list > .item:before,
  .ordered.horizontal.list > .item:before {
    position: static;
    margin: 0em 0.5em 0em 0em;
  }

  /*-------------------
         Divided
  --------------------*/

  .divided.list > .item {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
  }
  .divided.list .list > .item {
    border-top: none;
  }
  .divided.list .item .list > .item {
    border-top: none;
  }
  .divided.list .list > .item:first-child,
  .divided.list > .item:first-child {
    border-top: none;
  }

  /* Sub Menu */
  .divided.list:not(.horizontal) .list > .item:first-child {
    border-top-width: 1px;
  }

  /* Divided bulleted */
  .divided.bulleted.list:not(.horizontal),
  .divided.bulleted.list .list {
    margin-left: 0em;
    padding-left: 0em;
  }
  .divided.bulleted.list > .item:not(.horizontal) {
    padding-left: 1.25rem;
  }

  /* Divided Ordered */
  .divided.ordered.list {
    margin-left: 0em;
  }
  .divided.ordered.list .list > .item,
  .divided.ordered.list > .item {
    padding-left: 1.25rem;
  }
  .divided.ordered.list .item .list {
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0.21428571em;
  }
  .divided.ordered.list .item .list > .item {
    padding-left: 1em;
  }

  /* Divided Selection */
  .divided.selection.list .list > .item,
  .divided.selection.list > .item {
    margin: 0em;
    border-radius: 0em;
  }

  /* Divided horizontal */
  .divided.horizontal.list {
    margin-left: 0em;
  }
  .divided.horizontal.list > .item {
    border-top: none;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    margin: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 0.6;
  }
  .horizontal.divided.list > .item:first-child {
    border-left: none;
  }

  /* Inverted */
  .divided.inverted.list > .item,
  .divided.inverted.list > .list,
  .divided.inverted.horizontal.list > .item {
    border-color: rgba(255, 255, 255, 0.1);
  }

  /*-------------------
          Celled
  --------------------*/

  .celled.list > .item,
  .celled.list > .list {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .celled.list > .item:last-child {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  /* Padding on all elements */
  .celled.list > .item:first-child,
  .celled.list > .item:last-child {
    padding-top: 0.21428571em;
    padding-bottom: 0.21428571em;
  }

  /* Sub Menu */
  .celled.list .item .list > .item {
    border-width: 0px;
  }
  .celled.list .list > .item:first-child {
    border-top-width: 0px;
  }

  /* Celled Bulleted */
  .celled.bulleted.list {
    margin-left: 0em;
  }
  .celled.bulleted.list .list > .item,
  .celled.bulleted.list > .item {
    padding-left: 1.25rem;
  }
  .celled.bulleted.list .item .list {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding-bottom: 0.21428571em;
  }

  /* Celled Ordered */
  .celled.ordered.list {
    margin-left: 0em;
  }
  .celled.ordered.list .list > .item,
  .celled.ordered.list > .item {
    padding-left: 1.25rem;
  }
  .celled.ordered.list .item .list {
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0.21428571em;
  }
  .celled.ordered.list .list > .item {
    padding-left: 1em;
  }

  /* Celled Horizontal */
  .horizontal.celled.list {
    margin-left: 0em;
  }
  .horizontal.celled.list .list > .item,
  .horizontal.celled.list > .item {
    border-top: none;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    margin: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 0.6;
  }
  .horizontal.celled.list .list > .item:last-child,
  .horizontal.celled.list > .item:last-child {
    border-bottom: none;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
  }

  /* Inverted */
  .celled.inverted.list > .item,
  .celled.inverted.list > .list {
    border-color: 1px solid rgba(255, 255, 255, 0.1);
  }
  .celled.inverted.horizontal.list .list > .item,
  .celled.inverted.horizontal.list > .item {
    border-color: 1px solid rgba(255, 255, 255, 0.1);
  }

  /*-------------------
         Relaxed
  --------------------*/

  .relaxed.list:not(.horizontal) > .item {
    padding-top: 0.42857143em;
    padding-bottom: 0.42857143em;
  }
  .relaxed.list:not(.horizontal) .list > .item {
    padding-top: 0.21428571em;
    padding-bottom: 0.21428571em;
  }
  .horizontal.relaxed.list > .item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Very Relaxed */
  [class*="very relaxed"].list:not(.horizontal) > .item {
    padding-top: 0.85714286em;
    padding-bottom: 0.85714286em;
  }
  [class*="very relaxed"].list:not(.horizontal) .list > .item {
    padding-top: 0.28571429em;
    padding-bottom: 0.28571429em;
  }
  .horizontal[class*="very relaxed"].list .list > .item,
  .horizontal[class*="very relaxed"].list > .item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  /*-------------------
        Sizes
  --------------------*/

  .mini.list {
    font-size: 0.71428571em;
  }
  .tiny.list {
    font-size: 0.85714286em;
  }
  .small.list {
    font-size: 0.92857143em;
  }
  .list {
    font-size: 1em;
  }
  .large.list {
    font-size: 1.14285714em;
  }
  .big.list {
    font-size: 1.28571429em;
  }
  .huge.list {
    font-size: 1.42857143em;
  }
  .massive.list {
    font-size: 1.71428571em;
  }
  .mini.horizontal.list .list > .item,
  .mini.horizontal.list > .item {
    font-size: 0.71428571rem;
  }
  .tiny.horizontal.list .list > .item,
  .tiny.horizontal.list > .item {
    font-size: 0.85714286rem;
  }
  .small.horizontal.list .list > .item,
  .small.horizontal.list > .item {
    font-size: 0.92857143rem;
  }
  .horizontal.list .list > .item,
  .horizontal.list > .item {
    font-size: 1rem;
  }
  .large.horizontal.list .list > .item,
  .large.horizontal.list > .item {
    font-size: 1.14285714rem;
  }
  .big.horizontal.list .list > .item,
  .big.horizontal.list > .item {
    font-size: 1.28571429rem;
  }
  .huge.horizontal.list .list > .item,
  .huge.horizontal.list > .item {
    font-size: 1.42857143rem;
  }
  .massive.horizontal.list .list > .item,
  .massive.horizontal.list > .item {
    font-size: 1.71428571rem;
  }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
